.about-us {
  color: var(--black);
  padding-bottom: 43px;

  @media (min-width: $screen-tablet) {
    padding-top: 12px;
    padding-bottom: 68px;
  }
}

.about-us__title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: left;

  @media (min-width: $screen-tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $screen-desktop) {
    font-size: 53px;
    line-height: 57px;
    padding: 0 175px;
    margin-bottom: 37px;
  }
}

.about-us__list {
  @include list-reset;

  @media (min-width: $screen-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  @media (min-width: $screen-desktop) {
    padding: 0 175px;
  }
}

.about-us__item {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-top: 48px;
  background-repeat: no-repeat;
  background-position: 0 15px;

  @media (min-width: $screen-tablet) {
    font-size: 20px;
    line-height: 22px;
    padding-top: 41px;
  }

  @media (min-width: $screen-desktop) {
    background-position: 0 5px;
  }

  &--flower {
    background-image: url("../img/svg/icon-flower.svg");
  }

  &--money {
    background-image: url("../img/svg/icon-money.svg");
  }

  &--heart {
    background-image: url("../img/svg/icon-heart.svg");
  }

  &--ball {
    background-image: url("../img/svg/icon-ball.svg");
  }

  &--rocket {
    background-image: url("../img/svg/icon-rocket.svg");
  }

  &--gift {
    background-image: url("../img/svg/icon-gift.svg");
  }
}
