.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--dark);
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--white);
  border: 2px solid var(--dark);
  text-align: center;

  @media (min-width: $screen-tablet) {
    font-size: 17px;
  }

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--dark);
  }

  &:focus {
    outline: 1px dashed var(--white);
    outline-offset: -3px;
  }

  &:active {
    color: #7c7c7c;
    outline: none;
  }
}
