.contacts {
  padding-top: 28px;

  @media (min-width: $screen-desktop) {
    padding-bottom: 105px;
  }

  address {
    font-size: 14px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 35px;

    @media (min-width: $screen-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      font-size: 17px;
      padding-bottom: 21px;
    }

    @media (min-width: $screen-desktop) {
      display: flex;
      flex-direction: column;
      padding-top: 0;
    }
  }
}

.contacts__grid {
  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $screen-desktop) {
    display: grid;
    padding-left: 225px;
    grid-template-columns: 1fr 527px;
    padding-top: 36px;
  }
}

.contacts__flag-bg-icon {
  @media (min-width: $screen-tablet) {
    background-repeat: no-repeat;
    background-image: url("../img/svg/flag.svg");
    background-position: top 8px right 53px;
  }

  @media (min-width: $screen-desktop) {
    background-position: left 112px top 99px;
  }
}

.contacts__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 28px;

  @media (min-width: $screen-tablet) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 30px;
    margin-bottom: 32px;
  }

  @media (min-width: $screen-desktop) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 79px;
    margin-bottom: 15px;
  }
}

.contacts__item {
  display: flex;
  margin-bottom: 28px;

  @media (min-width: $screen-desktop) {
    margin-top: 3px;
  }
}

.contacts__item-head {
  width: 76px;
}

.contacts__link {
  color: var(--dark);
  border-bottom: 1px solid var(--basic);

  &:hover,
  &:focus {
    color: var(--basic);
  }

  &:active {
    border-color: #edf9f7;
  }
}

.contacts__map {
  width: calc(100% + 60px);
  margin: 0 -30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/site/map-mobile.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/site/map-mobileg@2x.png");
  }


  @media (min-width: $screen-tablet) {
    width: calc(100% + 100px);
    margin: 0 -50px;
    background-image: url("../img/site/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/site/map-tablet@2x.png");
    }
  }

  @media (min-width: $screen-desktop) {
    margin: 0;
    width: 527px;
    height: 457px;
    grid-column: 2/-1;
    grid-row: 1/4;
    background-image: url("../img/site/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/site/map-desktop@2x.png");
    }
  }
}

.contacts__call-to-action-button {
  margin: 36px 0 39px;

  @media (min-width: $screen-tablet) {
    display: inline-flex;
    margin: 58px auto 57px;
    padding: 5px 39px;
  }

  @media (min-width: $screen-desktop) {
    grid-column: 1/2;
    margin: 0;
    align-self: end;
    justify-self: start;
  }
}
