.contacts {
  padding-top: 28px;

  address {
    font-size: 14px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 35px;
  }
}

.contacts__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 28px;

  @media (min-width: $screen-tablet) {
    font-size: 43px;
    line-height: 50px;
  }
}

.contacts__item {
  display: flex;
  margin-bottom: 28px;
}

.contacts__item-head {
  width: 76px;
}

.contacts__link {
  color: var(--dark);
  border-bottom: 1px solid var(--basic);

  &:hover,
  &:focus {
    color: var(--basic);
  }

  &:active {
    border-color: #edf9f7;
  }
}

.contacts__map {
  width: calc(100% + 60px);
  margin: 0 -30px;
}

.contacts__call-to-action-button {
  margin: 36px 0 39px;
}
