.form {
  @include outline;
  padding-bottom: 55px;

  @media (min-width: $screen-tablet) {
    padding-bottom: 18px;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;

    @media (min-width: $screen-tablet) {
      padding-left: 25%;
      position: relative;
      margin-bottom: 0;
      padding-top: 50px;
      padding-bottom: 26px;
    }
  }

  .form__fieldset-has-one-element {
    @media (min-width: $screen-tablet) {
      padding-top: 0;
      padding-bottom: 26px;
    }
  }

  legend {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    color: var(--basic);
    text-transform: uppercase;

    @media (min-width: $screen-tablet) {
      position: absolute;
      width: 22%;
      left: 0;
      top: 66px;
      margin-bottom: 10px;
    }

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: var(--basic);
      display: inline-flex;
      align-self: center;

      @media (min-width: $screen-tablet) {
        display: none;
      }
    }
  }

  label {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: var(--black);

    @media (min-width: $screen-tablet) {
      font-size: 19px;
    }
  }

  input,
  textarea {
    font-size: 17px;
    line-height: 18px;
    color: var(--dark);
    transition: all 0.2s;

    @media (min-width: $screen-tablet) {
      font-size: 19px;
    }
  }

  input::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: var(--black);
    opacity: 0.3;

    @media (min-width: $screen-tablet) {
      font-size: 19px;
    }
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--dark);
    padding: 19px 1px 14px;

    @media (min-width: $screen-tablet) {
      padding: 12px 1px 14px;
      padding-left: 18px;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: var(--basic);
    }
  }
}

.form__caption {
  font-size: 13px;
  line-height: 24px;
  padding: 3px 0;
  margin-bottom: 27px;

  @media (min-width: $screen-tablet) {
    padding: 37px 0 0;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 14px;
  }
}

.form__group-wrapper {
  @media (min-width: $screen-tablet) {
    padding: 50px 0 27px;

    legend {
      top: 17px;
    }
  }
}

.form__element {
  margin-top: 0;

  @media (min-width: $screen-tablet) {
    margin-bottom: 26px;
  }
}

.form__element--has-icon {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;

  input {
    padding-right: 40px;
  }

  svg {
    opacity: 0.2;
    transition: all 0.2s;
  }

  &:hover,
  &:focus,
  &:active {
    svg {
      opacity: 1;
      fill: var(--basic);
    }
  }
}

.form__element--no-label:first-of-type {
  margin-top: -29px;
  margin-bottom: 22px;

  @media (min-width: $screen-tablet) {
    margin: 0;
  }
}

.form__icon {
  position: absolute;
  top: 16px;
  right: 3px;

  @media (min-width: $screen-tablet) {
    top: 10px;
    right: 23px;
  }
}

// radio
.form__radio-wrapper {}

.form__radio-wrapper:hover,
.form__radio-wrapper:focus-within {
  .form__radio-label::before {
    border-color: var(--basic);
  }
}

.form__radio-wrapper:active {
  .form__radio-label::before {
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.form__radio-wrapper {
  input:checked~.form__radio-label::after {
    display: inline-flex;
  }
}

.form__radio-label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 19px;
  align-items: center;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;

  @media (min-width: $screen-tablet) {
    column-gap: 30px;
  }

  &::before {
    content: "";
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 2px solid var(--dark);
    border-radius: 50%;
    transition: all 0.2s;

    @media (min-width: $screen-tablet) {
      width: 50px;
      height: 50px;
    }
  }

  &::after {
    position: absolute;
    top: 12px;
    left: 12px;
    display: none;
    content: "";
    height: 16px;
    width: 16px;
    background-color: var(--basic);
    border-radius: 50%;
    transition: all 0.2s;

    @media (min-width: $screen-tablet) {
      height: 20px;
      width: 20px;
      top: 15px;
      left: 15px;
    }
  }
}

// checkbox
.form__checbox-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form__checkbox-wrapper {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 24px;
  }
}

.form__checkbox-wrapper:hover,
.form__checkbox-wrapper:focus-within {
  .form__checkbox-label::before {
    border-color: var(--basic);
  }
}

.form__checkbox-wrapper:active {
  .form__checkbox-label::before {
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.form__checkbox-wrapper {
  input:checked~.form__checkbox-label::after {
    display: inline-flex;
  }
}

.form__checkbox-label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 19px;
  align-items: center;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;

  @media (min-width: $screen-tablet) {
    column-gap: 28px;
  }

  &::before {
    content: "";
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 2px solid var(--dark);
    transition: all 0.2s;

    @media (min-width: $screen-tablet) {
      width: 52px;
      height: 52px;
    }
  }

  &::after {
    position: absolute;
    top: 11px;
    left: 9px;
    display: none;
    content: "";
    height: 16px;
    width: 23px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/svg/tick.svg");
    transition: all 0.2s;

    @media (min-width: $screen-tablet) {
      width: 32px;
      height: 22px;
      background-size: contain;
    }
  }
}

// input text

.form__text-wrapper {
  display: grid;
  margin-bottom: 21px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 26px;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    align-items: center;
  }
}


// textarea

.form__text-area {
  min-height: 142px;
  width: 100%;
  margin-top: -10px;
  font-family: inherit;
  border: 2px solid var(--dark);
  outline: none;
  padding: 15px;

  &:hover,
  &:focus,
  &:active {
    border-color: var(--basic);
  }
}


.form__footer-wrapper {
  @media (min-width: $screen-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
}

.form__button {
  width: 100%;

  @media (min-width: $screen-tablet) {
    order: 1;
    width: initial;
    padding: 5px 30px;
  }
}

// form-text

.form__text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 26px;

  @media (min-width: $screen-tablet) {
    font-size: 17px;
    line-height: 30px;
    order: 2;
  }
}
