.main-nav {
  @include list-reset;

  @media (max-width: $screen-mobile) {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
  }
}

.main-nav--visible {
  @media (max-width: ($screen-tablet - 1px)) {
    display: block;
    position: absolute;
    background-color: #ffffff;
    left: 0;
    right: 0;
  }
}

.main-nav--no-js {
  @media (max-width: ($screen-tablet - 1px)) {
    display: block;
  }
}

.main-nav__item {
  display: block;
  padding: 0 30px;
  border-bottom: 1px solid #ececec;

  @media (min-width: $screen-tablet) {
    padding: 0;
    border: none;
  }

  &:nth-child(1) .main-nav__link,
  &:nth-child(2) .main-nav__link {
    @media (min-width: $screen-desktop) {
      font-size: 17px;
      padding: 32px 0 34px;
    }
  }
}

.main-nav__item--desk-visible {
  @media (max-width: ($screen-desktop - 1px)) {
    @include visually-hidden;
  }
}

.main-nav__link {
  display: flex;
  padding: 29px 5px 27px 46px;
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  text-decoration: none;

  @media (min-width: $screen-tablet) {
    padding: 19px 0 10px;
    font-size: 15px;
    line-height: 24px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
