.main-nav {
   @include list-reset;
}

.main-nav {
  @media (max-width: $screen-mobile) {
    display: none;
  }

}

.main-nav--visible {
  display: block;
}
.main-nav__item {
   display: block;
   padding: 0 30px;
   border-bottom: 1px solid #ececec;
}

.main-nav__link {
   display: flex;
   padding: 29px 5px 27px 46px;
   font-size: 17px;
   font-style: normal;
   font-weight: bold;
   line-height: 24px;
   letter-spacing: 0px;
   color: #000000;
   text-decoration: none;

   &:hover, &:focus {
     opacity: 0.6;
   }

   &:active {
    opacity: 0.3;
  }
}
