.navbar {
  position: relative;
  z-index: 1;
  min-height: 80px;
}

// TODO при нажатой кнопке меню если расширить экран, ломаются стили

.navbar__container {
  @media (max-width: $screen-mobile) {
    margin: 0 -30px;
  }

  @media (min-width: $screen-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $screen-desktop) {
    grid-template-columns: 4/6*100% 1fr;
  }
}

.navbar__container--visible {
  @media (max-width: ($screen-tablet - 1px)) {
    position: absolute;
    left: 30px;
    right: 30px;
    background-color: var(--white);

    .navbar__main-nav {
      display: block;
    }

    .navbar__links-wrapper {
      display: block;
    }
  }
}

.navbar__container--no-js {
  @media (max-width: ($screen-tablet - 1px)) {
    left: 30px;
    right: 30px;
    background-color: var(--white);

    .navbar__main-nav {
      display: block;
    }

    .navbar__links-wrapper {
      display: block;
    }

    .navbar__close-button {
      display: none;
    }
  }
}

.navbar__main-nav-wrapper {
  @media (min-width: $screen-desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.navbar__logo {
  display: flex;
  padding: 22px 30px;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid var(--border);

  @media (min-width: $screen-tablet) {
    justify-content: flex-start;
    padding-left: 0;
    border: none;
  }

  @media (min-width: $screen-desktop) {
    padding: 0;
    padding-top: 9px;
    width: 36%;
  }

  &:hover {
    use {
      opacity: 0.6;
    }
  }

  &:focus {
    svg {
      outline: 2px solid var(--basic);
      outline-offset: 3px;
    }
  }

  &:active {
    svg {
      outline: none;
    }

    use {
      opacity: 0.3;
    }
  }
}

.navbar__logo-mobile {
  @media (min-width: $screen-tablet) {
    display: none;
  }
}

.navbar__logo-tablet {
  @media (max-width: $screen-mobile) {
    display: none;
  }

  @media (min-width: $screen-desktop) {
    display: none;
  }
}

.navbar__logo-desktop {
  @media (max-width: ($screen-desktop - 1px)) {
    display: none;
  }
}

.navbar__links-wrapper {
  @include list-reset;

  @media (max-width: $screen-mobile) {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.navbar__links-wrapper--visible {
  @media (max-width: ($screen-tablet - 1px)) {
    display: block;
    position: absolute;
    background-color: #ffffff;
    left: 0;
    right: 0;
  }
}


.navbar__links-item {
  padding: 0 30px;
  border-bottom: 1px solid var(--border);

  @media (min-width: $screen-tablet) {
    border: none;
    border-left: 1px solid var(--border);
    padding: 0;
  }
}

.navbar__links-item--search {
  position: relative;

  @media (min-width: $screen-tablet) {
    margin-left: -13px;
  }

  @media (min-width: $screen-desktop) {
    margin-left: 0;
  }
}

.navbar__search-link {
  display: flex;
  padding: 29px 5px 27px 46px;

  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus:not(:active) {
    outline: 2px solid var(--basic);
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $screen-tablet) {
    padding: 36px 31px 34px 33px;
    justify-content: center;
    align-items: center;
  }

  @include svg-navbar-icon;
  position: relative;

  svg {
    left: 0;

    @media (min-width: $screen-tablet) {
      position: static;
      transform: initial;
      display: inline-flex;
    }
  }

  @media (min-width: $screen-tablet) {
    span {
      @include visually-hidden;
    }
  }
}

.navbar__cart {
  position: relative;

  @media (min-width: $screen-tablet) {
    flex-grow: 1;
  }
}

.navbar__cart-link {
  position: relative;
  display: block;

  @include svg-navbar-icon;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus:not(:active) {
    outline: 2px solid var(--basic);
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $screen-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 32px;

    svg {
      display: inline-flex;
      transform: initial;
      position: static;
      margin-left: 32px;
    }
  }
}

.navbar__cart-button {
  @include button-reset;
  position: absolute;
}

.navbar__cart-text {
  display: flex;
  padding: 29px 5px 27px 46px;
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  text-decoration: none;

  @media (min-width: $screen-tablet) {
    padding: 0;
  }
}

.navbar__close-button {
  @include button-reset;
  position: absolute;
  z-index: 1;
  padding: 20px;
  top: 20px;
  right: 22px;
  width: 20px;
  height: 14px;
  background-image: url("../img/svg/menu.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--active {
    background-image: url("../img/svg/menu-close.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid var(--basic);
    outline-offset: 3px;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }

  @media (min-width: $screen-tablet) {
    display: none;
  }
}

.navbar__text-about-delivery {
  margin: 0;

  @media (max-width: $screen-mobile) {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    width: 100%;
    text-align: right;
    padding-top: 10px;
    border-left: none;

    p {
      margin: 0;
    }
  }
}
