.page {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--dark);
  // ! TODO удолить фонт-фэмили в других блоках, так как шрифт общий один и наследуется от BODY
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.page__main {
  @media (min-width: $screen-tablet) {
    border-top: 1px solid var(--border);
    margin-top: -55px;
  }
}


.page__footer {
  background-color: var(--grey);
  padding-bottom: 21px;

  @media (min-width: $screen-tablet) {
    padding: 30px 0 33px;
  }
}

.page__footer-grid {
  @media (min-width: $screen-tablet) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 10px;
  }
}

.page__footer-logo {

  @media (max-width: $screen-mobile) {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    align-self: center;
  }

  &:hover,
  &:focus {
    svg {
      fill: #46c1ae;
    }

  }

  &:active {
    svg {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

.page__footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
    color: var(--black);
    margin-right: 28px;
  }

  svg {
    fill: #63d1bb;
  }

  &:hover,
  &:focus {
    svg {
      fill: #46c1ae;
    }
  }

  &:active {
    svg {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}
