.reviews {
  @media (min-width: $screen-tablet) {
    position: relative;
  }
}

.reviews__wrapper {
  padding-bottom: 61px;
  background-repeat: repeat-x;
  background-image: url("../img/svg/border-wave-slim.svg");
  background-position: left 8px bottom 10px;

  @media (min-width: $screen-tablet) {
    position: relative;

    padding-top: 82px;
    padding-bottom: 113px;

    background-image: url("../img/bg/review-tablet.jpg"), url("../img/svg/border-wave-bold.svg");
    background-repeat: no-repeat, repeat-x;
    background-position: left -73px top 0, left 8px bottom 10px;
    background-size: contain, auto;
  }

  @media (min-width: $screen-desktop) {
    background-image: url("../img/bg/review-desktop.jpg"), url("../img/svg/border-wave-bold--desktop.svg");
    background-position: left 0 top 0, left 18px bottom 8px;
    padding-left: 175px;
    padding-top: 79px;
    padding-bottom: 162px;
    background-size: auto, auto;
  }
}

.reviews__title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 40px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  @include list-reset;
  margin-bottom: 29px;
}

.reviews__item {
  display: none;

  @media (min-width: $screen-desktop) {
    padding-right: 60px;
  }

  blockquote {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
  }

  p {
    margin-top: 0;

    @media (min-width: $screen-tablet) {
      font-size: 17px;
      line-height: 30px;
    }
  }

  footer {
    margin-top: 30px;

    @media (min-width: $screen-tablet) {
      display: inline-grid;
      margin-top: 44px;
    }

    @media (min-width: $screen-desktop) {
      margin-top: 27px;
    }
  }
}

.reviews__item--visible {
  display: block;
}

.reviews__customer-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: var(--black);

  @media (min-width: $screen-tablet) {
    font-size: 18px;
    margin-bottom: 3px;
  }

  @media (min-width: $screen-desktop) {
    font-size: 17px;
  }
}

.reviews__customer-contact {
  font-size: 17px;
  line-height: 30px;
}

.reviews__button {
  @media (min-width: $screen-tablet) {
    display: inline-flex;
    position: absolute;
    top: 79px;
    right: 50px;
    padding: 5px 38px;
  }

  @media (min-width: $screen-desktop) {
    right: 0;
  }
}
