.slider {
  display: block;
}

.slider__control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 38px;

  @media (min-width: $screen-tablet) {
    position: absolute;
    width: 180px;
    bottom: 106px;
    right: 50px;
  }

  @media (min-width: $screen-desktop) {
    right: 0;
    bottom: 155px;
  }
}

.slider__control-button {
  @include button-reset;
  display: flex;
  height: 52px;
  border: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:focus {
    border: 1px solid var(--basic);
  }

  &:active {
    outline: none;
    border-color: var(--border);
    opacity: 0.3;
  }

  @media (min-width: $screen-tablet) {
    border-color: transparent;

    &:focus {
      outline: 2px solid var(--basic);
    }

    &:active {
      outline: none;
    }
  }
}

.slider__control-button--preview {
  background-image: url("../img/svg/huge-arrow-left.svg");
  border-right: none;
}

.slider__control-button--next {
  background-image: url("../img/svg/huge-arrow-right.svg");
}
