{% from "macros/image.html" import image %}
{% from "macros/img.html" import img %}
<!DOCTYPE html>
<html lang="ru">

<head>
  {% include "partials/head.html" %}
  {% block head %}{% endblock %}
</head>

<body class="page">
  <header class="page__header">
    {% include "partials/header.html" %}
    {% block header %}
    {% endblock %}
  </header>
  <main class="page__main">
    {% block content %}{% endblock %}
  </main>
  {% block footer %}
  <footer class="page__footer">
    <div class="container page__footer-grid">
      {% include "partials/footer.html" %}
    </div>
    <script src="js/script.js"></script>
  </footer>
  {% include "partials/modal.html" %}
  {% endblock %}
</body>

</html>
