@mixin svg-navbar-icon {
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--grey-light);
  }

  &:hover svg,
  &:focus svg {
    fill: var(--basic);
  }

  &:active svg {
    opacity: 0.3;
  }
}
