// Colors
:root {
  --font-family-primary: "Open Sans", sans-serif;
  --screen-mobile: 767px;
  --screen-tablet: 768px;
  --screen-desktop: 1150px;
  --basic: #63d1bb;
  --basic-dark: #56c3b2;
  --white: #ffffff;
  --black: #000000;
  --grey: #f1f1f1;
  --dark: #444444;
  --border: #ececec;
}

$basic: #68b738;
$basic-dark: #5eaa2f;
$error: #ff8282;
$grey-100: #f2f2f2;
$grey-200: #ebebeb;
$grey-300: #cdcdcd;
$grey-400: #666666;
$grey-500: #444444;
$grey-600: #222222;
$secondary-background: #e5e5e5;

// Typography


$screen-mobile: 767px;
$screen-tablet: 768px;
$screen-desktop: 1440px;
