{% set username="Каталог товаров" %}
{% set pageName="catalog" %}

{% extends "layouts/inner_page.html" %}


{% block content %}
{{ super() }}
<div class="catalog">
  <div class="container">

    <ul class="catalog__List">
      <li class="catalog__item">
        <a class="catalog__img-link" href="#">
          {{ img("img/shop/hare", "800", "600", "Вязаный зайчик.") }}
        </a>
        <div class="catalog__description-wrapper">
          <a href="#" class="catalog__title-link">
            <h2 class="catalog__item-title">Зайчик-попрыгайчик</h2>
          </a>
          <p class="catalog__item-description">Рост 30 см, вес 200 г</p>
          <div class="catalog__item-price-wrapper">
            <span class="catalog__item-price">1 200 руб.</span>
            <button class="catalog__item-cart-button" type="button">
              <span class="visually-hidden">Добавить товар в корзину.</span>
              <svg width="21" height="18" viewBox="0 0 21 18">
                <use xlink:href="img/svg/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="catalog__item">
        <a class="catalog__img-link" href="#">
          {{ img("img/shop/basket", "800", "600", "Корзинка для белья.") }}
        </a>
        <div class="catalog__description-wrapper">
          <a href="#" class="catalog__title-link">
            <h2 class="catalog__item-title">Корзинка для белья</h2>
          </a>
          <p class="catalog__item-description">Диаметр 15 см, высота 10 см</p>
          <div class="catalog__item-price-wrapper">
            <span class="catalog__item-price">690 руб.</span>
            <button class="catalog__item-cart-button" type="button">
              <span class="visually-hidden">Добавить товар в корзину.</span>
              <svg width="21" height="18" viewBox="0 0 21 18">
                <use xlink:href="img/svg/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="catalog__item">
        <a class="catalog__img-link" href="#">
          {{ img("img/shop/big-basket", "800", "600", "Большая корзинка для игрушек.") }}
        </a>
        <div class="catalog__description-wrapper">
          <a href="#" class="catalog__title-link">
            <h2 class="catalog__item-title">Большая корзинка для игрушек</h2>
          </a>
          <p class="catalog__item-description">Диаметр 30 см, высота 30 см</p>
          <div class="catalog__item-price-wrapper">
            <span class="catalog__item-price">1 500 руб.</span>
            <button class="catalog__item-cart-button" type="button">
              <span class="visually-hidden">Добавить товар в корзину.</span>
              <svg width="21" height="18" viewBox="0 0 21 18">
                <use xlink:href="img/svg/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<section class="production">
  <div class="container">
    <div class="production__wrapper">
      <h2 class="production__title">Процесс
        <br aria-hidden="true"> производства</h2>
      <div class="production__video-wrapper">
        <button class="production__video-play-button" type="button"><span class="visually-hidden">Включить проигрывание видео.</span></button>
        {{ img("img/site/video", "800", "600", "Видео производства корзинок.") }}
      </div>
      <p class="production__description">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</p>
      <button class="production__button button" type="button">Сделать заказ</button>
    </div>
  </div>
</section>

{% endblock %}
